<h3 class="text-center">Moviments Component</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>
        Description
      </th>
      <th (click)="getMovements('-value')">
        Total Value
      </th>
      <th (click)="getMovements('date')">
        Date
      </th>
      <th (click)="addMoviment()">
        +
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of movements">
      <td>
        {{movement.description}}
      </td>
      <td>
        {{movement.value | currencyFormat}}
      </td>
      <td>
        {{movement.date | date:'dd/MM/yyyy'}}
      </td>
      <td (click)="updateMoviment(movement)">
        +
      </td>
    </tr>
  </tbody>
</table>