<app-movements-table>
  <ng-container headers>
    <th>Id</th>
    <th>Description</th>
    <th (click)="getMovements('value')">Total Value</th>
    <th (click)="getMovements('date')">Date</th>
    <th></th>
    <th></th>
  </ng-container>
  <ng-container row>
    <tr *ngFor="let movement of movements">
      <td>{{movement.id}}</td>
      <td>
        {{movement.description}}
      </td>
      <td>
        {{movement.value | currencyFormat}}
      </td>
      <td>
        {{movement.date | date:'dd/MM/yyyy'}}
      </td>
      <td (click)="updateMovement(movement.id!)">Edit</td>
      <td>
        <button mat-icon-button (click)="deleteMovement(movement.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>
  </ng-container>
</app-movements-table>