<app-movement-upsert [(model)]="model" [parentId]="parentId" (submitEvent)="onSubmit()">
  <div class="form-group">
    <label for="unitValue">Unit Value</label>
    <input type="number" class="form-control" id="unitValue" name="unitValue" [(ngModel)]="model.unitValue"
      placeholder="2.54" (input)="calculateValue()">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="model.amount" placeholder="10"
      (input)="calculateValue()">
  </div>
  <div class="form-group">
    <label for="liquidationFee">Liquidation Fee</label>
    <input type="number" class="form-control" id="liquidationFee" name="liquidationFee"
      [(ngModel)]="model.liquidationFee" placeholder="10" (input)="calculateValue()">
  </div>
  <div class="form-group">
    <label for="operation">Operation</label>
    <select class="form-control" id="operation" name="operation" [(ngModel)]="model.operation">
      <option *ngFor="let operation of movementTypes" [value]="operation">{{operation}}</option>
    </select>
  </div>
</app-movement-upsert>