<td>{{asset.id}}</td>
<td>{{asset.ticker}}</td>
<td>{{asset.value | currency:'BRL':'symbol':'1.2-2'}}</td>
<td class="text-center">{{asset.amount}}</td>
<td>{{asset.currentValue | currency:'BRL':'symbol':'1.2-2'}}</td>
<td>{{asset.average | currency:'BRL':'symbol':'1.2-2'}}</td>
<td>{{asset.difference}} %</td>
<td>{{asset.lastReturn | currency:'BRL':'symbol':'1.2-2'}}</td>
<td>{{asset.dy}}</td>
<td>{{asset.ady}}</td>
<td class="text-center">{{asset.targetAmount}}</td>
<td>{{asset.returns | currency:'BRL':'symbol':'1.2-2'}}</td>
<ng-content></ng-content>