<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center">
      <h4>Card Details</h4>
    </div>
    <app-details></app-details>
    <div class="row">
      <div class="col-md-4 text-center">
        <button class="btn btn-primary btn-sm">Add movement</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn btn-primary btn-sm">Close Statement</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn btn-primary btn-sm" (click)="resetVerification.emit()">Reset Verification</button>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <app-installment [movementAdded]="movementAdded" [resetVerification]="resetVerification"></app-installment>
</div>