<h3 class="text-center">Returns Component</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>
        Operation
      </th>
      <th>
        Amount
      </th>
      <th>
        Unit Value
      </th>
      <th (click)="getMovimentsByAsset('-value')">
        Total Value
      </th>
      <th (click)="getMovimentsByAsset('-date')">
        Date
      </th>
      <th (click)="addMoviment()">
        +
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let moviment of moviments">
      <td>
        {{moviment.operation}}
      </td>
      <td>
        {{moviment.amount}}
      </td>
      <td>
        {{moviment.unitValue | currencyFormat}}
      </td>
      <td>
        {{moviment.value | currencyFormat}}
      </td>
      <td>
        {{moviment.date | date:'dd/MM/yyyy'}}
      </td>
      <td (click)="updateMoviment(moviment)">
        +
      </td>
    </tr>
  </tbody>
</table>