<app-movements-table>
  <ng-container headers>
    <th *ngIf="parentId===0">Asset</th>
    <th>Operation</th>
    <th>Amount</th>
    <th>Unit Value</th>
    <th (click)="getMovements('-value')">Value</th>
    <th (click)="getMovements('date')">Date</th>
    <th (click)="addMovements()">+</th>
  </ng-container>
  <ng-container row>
    <tr *ngFor="let movement of movements">
      <td *ngIf="parentId===0">
        {{movement.asset}}
      </td>
      <td>
        {{movement.operation}}
      </td>
      <td>
        {{movement.amount}}
      </td>
      <td>
        {{movement.unitValue | currencyFormat}}
      </td>
      <td>
        {{movement.value | currencyFormat}}
      </td>
      <td>
        {{movement.date | date:'dd/MM/yyyy'}}
      </td>
      <td></td>
    </tr>
  </ng-container>
</app-movements-table>