<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th *ngIf="parentId===0">
        Asset
      </th>
      <th>
        Unit Value
      </th>
      <th>
        Amount
      </th>
      <th>
        Operation
      </th>
      <th (click)="getMovements('-exDividendDate')">
        Ex-Dividend date
      </th>
      <th (click)="getMovements('-date')">
        Payment Date
      </th>
      <th (click)="getMovements('-value')">
        Value
      </th>
      <th (click)="addMovement()">
        +
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of movements">
      <td *ngIf="parentId===0">
        {{movement.asset}}
      </td>
      <td>
        {{movement.unitValue | currencyFormat}}
      </td>
      <td>
        {{movement.amount}}
      </td>
      <td>
        {{movement.operation}}
      </td>
      <td>
        {{movement.exDividendDate | date:'dd/MM/yyyy'}}
      </td>
      <td>
        {{movement.date | date:'dd/MM/yyyy'}}
      </td>
      <td>
        {{movement.value | currencyFormat}}
      </td>
      <td (click)="updateMovements(movement)">+</td>
    </tr>
  </tbody>
</table>