<h3 class="text-center">Asset Component</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Ticker</th>
      <th>Value</th>
      <th>Amount</th>
      <th>
        Returns
        <button class="btn" (click)="openReturns()">+</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="asset">
      <td>{{asset.ticker}}</td>
      <td>{{asset.value | currencyFormat}}</td>
      <td>{{asset.amount}}</td>
      <td>{{asset.returns | currencyFormat}}</td>
      <td (click)="addMoviment()">+</td>
    </tr>
    <tr *ngIf="!asset">
      <td colspan="4" class="text-center">Loading asset details...</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>