<h3 class="text-center">Asset Component</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>
        Ticker
      </th>
      <th>
        Value
      </th>
      <th>
        Amount
      </th>
      <th>
        Returns
        <button class="button" (click)="addReturn()">+</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{asset.ticker}}
      </td>
      <td>
        {{asset.value | currencyFormat}}
      </td>
      <td>
        {{asset.amount}}
      </td>
      <td>
        {{asset.returns | currencyFormat}}
      </td>
    </tr>
  </tbody>
</table>