<ng-container *ngIf="renderType === 'table'">
  <td>{{moviment.id}}</td>
  <td>{{moviment.value}}</td>
  <td>{{moviment.date}}</td>
  <ng-content select="[columns]"></ng-content>
</ng-container>

<ng-container *ngIf="renderType === 'form'">

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" name="date" [(ngModel)]="moviment.date" placeholder="01/01/2024">
  </div>
  <ng-content select="[form]"></ng-content>
  <div class="form-group">
    <label for="value">Value</label>
    <input type="number" class="form-control" id="value" name="value" [(ngModel)]="moviment.value" placeholder="5.37"
      (input)="emitValueChange()">
  </div>
</ng-container>