<h4 class="text text-center">Fuel History</h4>
<app-choose-vehicle (selectedVehicleIdEmitter)="onVehicleSelected($event)"></app-choose-vehicle>
<div *ngIf="parentId">
    <div class="text text-center" *ngIf="selectedValues.length === 0">
        <button class="btn btn-primary" (click)="create()">Add Fuel</button>
    </div>
    <div class="text text-center" *ngIf="selectedValues.length > 0">
        <button class="btn btn-primary" (click)="manage()">Manage Fuel</button>
    </div>
    <div class="mb-3"></div>
    <app-vehicle-fuel-table [list]="list" (selectedValuesEmitter)="selectedValues = $event"></app-vehicle-fuel-table>
</div>