<div class="modal-header">
  <h4 class="modal-title">Add Return</h4>
  <button type="button" class="close text-rigth" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="model" class="modal-body">
  <form #assetForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="model.amount"
        placeholder="Amount" (input)="calculateValue()">
    </div>
    <div class="form-group">
      <label for="unitValue">Unit Value</label>
      <input type="number" class="form-control" id="unitValue" name="unitValue" [(ngModel)]="model.unitValue"
        placeholder="Unit Value" (input)="calculateValue()">
    </div>
    <div class="form-group">
      <label for="exDividendDate">Ex-Dividend Date</label>
      <input type="date" class="form-control" id="exDividendDate" name="exDividendDate"
        [(ngModel)]="model.exDividendDate" placeholder="Ex-Dividend Date">
    </div>
    <div class="form-group">
      <label for="paymentDate">Payment Date</label>
      <input type="date" class="form-control" id="paymentDate" name="paymentDate" [(ngModel)]="model.date"
        placeholder="Payment Date">
    </div>
    <div class="form-group">
      <label for="operation">Operation</label>
      <select class="form-control" id="operation" name="operation" [(ngModel)]="model.operation">
        <option value="DIVIDEND">DIVIDEND</option>
        <option value="JCP">JCP</option>
        <option value="AMORTIZATION">AMORTIZATION</option>
        <option value="REFUND">REFUND</option>
      </select>
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input type="number" class="form-control" id="value" name="value" [(ngModel)]="model.value" placeholder="Value"
        (input)="overrideValue = true">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>