<p>Description</p>
<p>Amount</p>
<p>Value</p>
<p>Installments</p>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>
              Id
            </th>
            <th>
              Value
            </th>
            <th>
              Installment
            </th>
            <th>Date</th>
            <th></th>
            <th>Paid</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let installment of installments">
            <td>
              {{installment.id}}
            </td>
            <td>
              {{installment.value | currency:'BRL':'symbol':'1.2-2'}}
            </td>
            <td>
              {{installment.installment}}
            </td>
            <td>
              {{installment.date | date: 'dd/MM/yyyy'}}
            </td>
            <td>Edit</td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
</div>