<div class="container">
  <div class="text-center" style="background-color: gray;">Here will be something important</div>

  <table class="table">
    <tbody>
      <tr>
        <td><!--TODO: Change this to an card-->
          <button class="btn btn-primary" type="submit">Manage account</button>
        </td>
        <td><!--TODO: Change this to an card-->
          <button class="btn btn-primary" type="submit">Manage credit card</button>
        </td>
      </tr>
      <tr>
        <td><!--TODO: Change this to an card-->
          <button class="btn btn-primary" type="submit">Manage investment</button>
        </td>
        <td><!--TODO: Change this to an card-->
          <button class="btn btn-primary" type="submit">Manage vehicles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>