<div class="container">
  <div class="text-center" style="background-color: gray;">Here will be something important</div>

  <table class="table">
    <tbody>
      <tr>
        <td><!--TODO: Change this to an card-->
          <!--TODO: Create Account Component-->
          <button class="btn btn-primary" type="submit" (click)="enableAccount()">Manage account</button>
        </td>
        <td><!--TODO: Change this to an card-->
          <!--TODO: Create credit card component-->
          <button class="btn btn-primary" type="submit" (click)="enableCreditCard()">Manage credit card</button>
        </td>
      </tr>
      <tr>
        <td><!--TODO: Change this to an card-->
          <!--TODO: Create investment component-->
          <button class="btn btn-primary" type="submit" (click)="enableInvestment()">Manage
            investment</button>
        </td>
        <td><!--TODO: Change this to an card-->
          <!--TODO: Create Vehicles Component-->
          <button class="btn btn-primary" type="submit" (click)="enableVehicles()">Manage vehicles</button>
        </td>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>
  <div class="container">
    <button class="btn btn-primary" type="submit" (click)="goBack()">Return</button>
    <p></p>
  </div>
  <router-outlet></router-outlet>
  <div class="text-center" style="background-color: gray;">Here will be another thing important</div>

</div>