<h3 class="text-center">Investment Component</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of headers">
        {{header}}
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of columns">
      <td>
        {{row.category}}
      </td>
      <td>
        {{row.paidValue | currencyFormat}}
      </td>
      <td>
        {{row.currentValue | currencyFormat}}
      </td>
      <td>
        {{row.wantedValue | currencyFormat}}
      </td>
      <td>
        {{row.returnsValue | currencyFormat}}
      </td>
      <td class="text-center">
        <button class=" btn" type="submit" (click)="openAssetDetails(row.category)">+</button>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>