<div class="container mt-5">
  <div class="card">
      <div class="card-header text-center">
          <h4>Account Details</h4>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-3">
                  <p><strong>Bank:</strong> Nubank - 260</p>
              </div>
              <div class="col-md-3">
                  <p><strong>Account Number:</strong> 86907374</p>
              </div>
              <div class="col-md-3">
                  <p><strong>Branch:</strong> 0001</p>
              </div>
              <div class="col-md-3hbio∫">
                  <p><strong>Created Date:</strong> 2018-08-06</p>
              </div>
          </div>
      </div>
  </div>
  <app-movements [parentId]="(1)"></app-movements>
</div>